<div class="footer">

  <div class="footer-text">
    திருக்குறுகை பெருமாள் தன் திருத்தாள்கள் வாழியே <br>
    உய்ய ஒரே வழி உடையவர் திருவடி <br>
    ஆழ்வார்கள் வாழி அருளிச்செயல் வாழி <br>
    மணவாளமாமுனியே ! இன்னும்ஒருநூற்றாண்டுஇரும்
  </div>

  <div style="margin-top:15px;">
    © 2026 Kanchi Divya Desam Kaingarya Trust
  </div>

  <div class="footer-links">
    <a href="privacy.html">Privacy Policy</a>
    <a href="disclaimer.html">Disclaimer</a>
  </div>

  <div class="social-icons">
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>

</div>